# API Gateway (bus-service) — prefijos por dominio
VITE_ADMIN_API_BASE_URL=https://bus-service.politebay-268e19e8.eastus.azurecontainerapps.io/api/v1/gustavobenalcazar/admin
VITE_BOOKING_API_BASE_URL=https://bus-service.politebay-268e19e8.eastus.azurecontainerapps.io/api/v1/gustavobenalcazar/booking
